{
    "semi": false,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "printWidth": 120,
    "importOrder": [
      "^react$",
      "^react(.*)",
      "next(/.*)?",
      "<TYPES>",
      "<TYPES>^[.]",
      "<THIRD_PARTY_MODULES>",
      "@(/.*)?",
      "^./utils/ProtectedRoute",
      "^./contexts(/.*)?",
      "^./components/layout/",
      "^./pages/Error404",
      "^./pages/auth(.*)",
      "^./pages/employees(/.*)?",
      "^./pages/learn(/.*)?",
      "^./pages/client(/.*)?",
      "^./pages/sales(/.*)?",
      "^./pages/admin/dashboard",
      "^./pages/admin/profile(/.*)?",
      "^./pages/admin/users(/.*)?",
      "^./pages/admin/facilities(/.*)?",
      "^./pages/admin/HTU(/.*)?",
      "^./pages/admin/jobs(/.*)?",
      "^./pages/admin(/.*)?",
      "^(?!.*[.]css$)[./].*$",
      "^.+\\.css$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": false,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "pluginSearchDirs": false,
    "tailwindFunctions": ["classnames", "cn"]
  }
  